<?php

// Full URL to the Nextcloud server 
// e.g. https://example.com/nextcloud if in sub-path
// or https://cloud.example.com if in root
$config["nextcloud_attachment_server"] = "";

// Username resolving strategy from internal Roundcube
// username which usually is the email address e.g. user@example.com or IMAP User
// Placeholders are replaced as following
// %s => verbatim RC username as reported by rcmail->get_user_name(). Depending on config loginuser@domain or login
// %i => username used to login to imap. usually equal to %s
// %e => user email
// %l, %u => email localpart (%u is for backward compatibility)
// %d => email domain
// %h => IMAP Host
$config["nextcloud_attachment_username"] = "%u";

// Don't try the email password at all, because we know it won't work
// Defaults to false, i.e. try the password
$config["nextcloud_attachment_dont_try_mail_password"] = false;

// Name for the sub-folder to upload to
// Defaults to "Mail Attachments"
// Can't be sub-folder of sub-folder link folder/sub
$config["nextcloud_attachment_folder"] = "Mail Attachments";

// Folder Layout
// "flat"            => Flat folder layout, everything in the Folder
// "date:format"     => Create folder hierarchy according to format. See https://unicode-org.github.io/icu/userguide/format_parse/datetime/
//                      Use "/" as the folder separator. Defaults to date:Y/LLLL
//                      Dateformat is localized
// "hash:algo:depth" => Use "algo"-hash of file, creating sub folder for every of the "depth" bytes
//                      see https://www.php.net/manual/en/function.hash-algos.php
//                      Defaults to hash:sha1:2
// Defaults to flat
$config["nextcloud_attachment_folder_layout"] = "flat";

// (Dis)Allow user to change the layout
// true => layout is locked, i.e. not user-changeable
// false => user may change the layout on their settings page
$config["nextcloud_attachment_folder_layout_locked"] = true;

// Limit to show a warning at for large attachments.
// has to be smaller then $config['max_message_size']
// set to null to disable
$config["nextcloud_attachment_softlimit"] = "25M";

// Behavior if $config['max_message_size'] is hit.
// "prompt" => show dialog a la outlook or apple
// "upload" => automatically upload without asking a la google
// Defaults to "prompt"
$config["nextcloud_attachment_behavior"] = "prompt";

// Translate the folder name according to the users configured locale
// When activating this $config["nextcloud_attachment_folder"] has to be an array
// of locale => name, e.g.
// $config["nextcloud_attachment_folder"] = ["en_US" => "Mail Attachments", "de_DE" => "E-Mail Anhänge"]
// If locale doesn't exist, en_US or first will be used
// Defaults to false
$config["nextcloud_attachment_folder_translate_name"] = false;

// Checksum Algorithm for Attachment Page
// Defaults to sha256
// see https://www.php.net/manual/en/function.hash-algos.php
$config["nextcloud_attachment_checksum"] = "sha256";

// Generate Password protected link.
// Passwords will be included in the message body only, not in the HTML attachment
// Defaults to false
$config["nextcloud_attachment_password_protected_links"] = false;

// Allow/Disallow user to change the password protection option for themself
// true => user can not change the setting
// false => user may change the setting
$config["nextcloud_attachment_password_protected_links_locked"] = true;

// Expire share links after amount of days.
// Links will expire on the last valid day at 11:59:59pm AoE-Time
// Setting to "false" or negative value disables link expiry
// Defaults to false
$config["nextcloud_attachment_expire_links"] = false;

// Allow/Disallow user to change the link expiry option for themself
// true => user can not change the setting
// false => user may change the setting
$config["nextcloud_attachment_expire_links_locked"] = true;

// Automatically add Folder to .sync-exclude.lst in order to prevent
// Clients from automatically Downloading the Attachment folder
$config["nextcloud_attachment_sync_exclude_lst"] = false;

// List of users to exclude
// They won't be able to interact with the plugin at all
// No prompts, no automatic uploading, no settings.
// List by RC username or resolved username e.g. ["user@demo.com", "user"]
$config["nextcloud_attachment_exclude_users"] = [];

// Exclude users listed by uid (you need add the mapping to the address book) or email in any of the following
// address books. This allows you to configure a hidden LDAP address book containing the users
// to exclude.
//
// Hide an addressbook by setting
// $config['ldap_public'][*] = [
//      ...
//      'hidden' => true,
// ...
//  ];
// in the global config.
//
// Add the uid mapping via
// $config['ldap_public'][*] = [
//      ...
//      'fieldmap' => [
//          ...
//     //internal => ldapattr
//          'uid' => 'uid',
//          ...
//      ],
//      ...
// ]
// in the global config. Replace mapped attribute with appropriate value for your directory e.g. cn
// And replace "*" with the appropriate address book name
$config["nextcloud_attachment_exclude_users_in_addr_books"] = [];

// Exclude users that have a mapped value in an address book
// format [ [ 'address_book', 'mapped_attribute', 'matched_value' ], ... ]
//
// Resulting in every user listed in the address book "address_book"
// to be excluded if they have a "mapped_attribute", matching "matched_value".
//
// E.g. ['public', 'memberOf', 'cn=no_cloud,ou=groups,dc=example,dc=com']
//
// multiple attributes and multiple address books are supported
$config["nextcloud_attachment_exclude_users_with_addr_book_value"] = [];

// Exclude user that that are in a given group in an address book
// format [ [ 'address_book', 'group' ], ... ]
//
// Resulting in every user listed in the address book "address_book" that is
// is in group "group" to be excluded. You have to correctly configure the group
// mapping for the LDAP entry
//
// E.g. ['public', 'nocloud']
//
// multiple groups and multiple address books are supported
$config["nextcloud_attachment_exclude_users_in_addr_book_group"] = [];

// Enable/Disable certificate validation for https on WebDAV and API requests
// Defaults to true (enabled)
$config["nextcloud_attachment_verify_https"] = true;

// vim: set syntax=php ts=4 sw=4:
