<!DOCTYPE html>
<html lang="%templ_lang%">
<head>
    <title>%FILENAME% - %templ_title%</title>
    <meta charset="utf-8" />
</head>
<body>
<div style="padding: 15px; font-family: Calibri, sans-serif;">
    <div style=""><p>%templ_1% %FILENAME% %templ_2%.</p></div>
    <div style="border: 1px solid rgb(205, 205, 205); border-radius: 5px; margin-top: 10px; margin-bottom: 10px; padding: 15px; display: grid; grid-template-columns: 0fr 1fr 0fr 0fr; align-items: center;" class="cloudAttachmentItem" data-content-location="%FILEURL%" data-service-url="">
        <a href="%FILEURL%" style="color: rgb(15, 126, 219) !important; grid-area: 1 / 2;">%FILENAME%</a>
        <img style="grid-area: 1 / 1 / span 5; margin-right: 5px; z-index: 0" alt="Mime Icon" src="data:image/png;base64,%ICONBLOB%" width="32" height="32" />
        <img style="grid-area: 1 / 1 / span 5; margin-right: 5px; margin-left: 22px; margin-top: 20px; z-index: 1;" alt="Paperclip Icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iNDgiPjxwYXRoIGQ9Ik00NjAtODBxLTkxIDAtMTU1LjUtNjIuNVQyNDAtMjk2di00MzBxMC02NCA0NS41LTEwOVQzOTUtODgwcTY1IDAgMTEwIDQ1dDQ1IDExMHYzOTRxMCAzOC0yNiA2NC41VDQ2MC0yNDBxLTM4IDAtNjQtMjguNVQzNzAtMzM2di0zOTJoNDB2Mzk1cTAgMjIgMTQuNSAzNy41VDQ2MC0yODBxMjEgMCAzNS41LTE1dDE0LjUtMzZ2LTM5NXEwLTQ4LTMzLjUtODFUMzk1LTg0MHEtNDggMC04MS41IDMzVDI4MC03MjZ2NDMycTAgNzMgNTMgMTIzLjVUNDYwLTEyMHE3NSAwIDEyNy41LTUxVDY0MC0yOTZ2LTQzMmg0MHY0MzFxMCA5MS02NC41IDE1NFQ0NjAtODBaIi8+PC9zdmc+" width="16" height="16" /><br />
        <span style="grid-column: 2 / span 3; font-size: small;">
            <span>%templ_size%</span><span style="color: rgb(89, 89, 89);">%FILESIZE%</span><br />
        </span>
        <span style="grid-column: 2 / span 3; font-size: small;">
            <span>%templ_link%</span><a href="%FILEURL%" style="color: rgb(89, 89, 89) !important;">%FILEURL%</a><br />
        </span>
        <span style="grid-column: 2 / span 3; font-size: small;">
            <span>%templ_checksum%</span><span style="color: rgb(89, 89, 89);">%CHECKSUM%</span><br />
        </span>
        <span style="grid-column: 2 / span 3; font-size: small;">
            <span>%templ_availuntil_1%</span><span style="color: rgb(89, 89, 89);">%VALIDUNTIL%%templ_availuntil_2%</span><br />
        </span>
        <br />
    </div>
    <div style="margin-top: 15px; color: rgb(100,100,100); font-size: 11pt; margin-left: 15px">
        <p>%templ_p%%SERVERURL%%templ_p1%
        </p>
    </div>
    <div style="margin-top: 15px; color: rgb(200,200,200); font-size: 10pt; margin-left: 15px">
        <p>%templ_p2%<a style="color: rgb(200,200,200);" href="https://github.com/bennet0496/nextcloud_attachments">nextcloud_attachments</a>%templ_p3%<a style="color: rgb(200,200,200);" href="https://github.com/bennet0496">Bennet B.</a></p>
        <p style="margin-top: -16px">%templ_p4%<a style="color: rgb(200,200,200);" href="https://github.com/ubuntu/yaru">Ubuntu Yaru</a> (CC BY-SA 4.0) %templ_p5% <a style="color: rgb(200,200,200);" href="https://developers.google.com/fonts/docs/material_icons">Material Icons</a> (Apache License 2.0).</p>
    </div>
</div>
</body>
</html>
